[submodule "oftagenda"]
	path = oftagenda
	url = https://github.com/leonunesbs/oftagenda.git
[submodule "oftleonardo"]
	path = oftleonardo
	url = https://github.com/leonunesbs/oftleonardo.git
[submodule "oftchatbot"]
	path = oftchatbot
	url = https://github.com/leonunesbs/oftchatbot.git
[submodule "psiqdenise"]
	path = psiqdenise
	url = https://github.com/leonunesbs/psiqdenise.git
